language: php

php:
  - 7.0
  - 7.1
  - 7.2
  - 7.3
  - 7.4

env:
  global:
    - XDEBUG_MODE=coverage

before_script:
  - composer self-update
  - composer clear-cache
  - composer install --no-interaction
  
script:
  - vendor/bin/phpunit

notifications:
  email: false